<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="pgDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<!-- <property name="url" value="jdbc:postgresql://192.168.100.201/CTS_ERP_2017_DEV" /> -->
		<property name="url" value="jdbc:postgresql://localhost/taskmanager" />
		<property name="username" value="CTrends_conn" />
		<property name="password" value="123456" />
	</bean>
</beans>